In [19]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns
from pathlib import Path
from enum import Enum

In [20]:
motion_txt_path = "useful_dataset/motion.txt"
label_txt_path = "useful_dataset/label.txt"

folder_path_string = "full_archive/release/User1/"
folder_path = Path(folder_path_string)

hips_motion = "Hips_Motion.txt"
label = "Label.txt"

### очистка содержимого в файлах
# with open(motion_txt_path, 'w') as motion_file:
#     pass

# with open(label_txt_path, 'w') as label_file:
#     pass

### перебор всех папок в User1/
# for file_name in folder_path.iterdir():
#     folder_name = str(file_name).split("/")[-1]
#     print("processed", folder_name)
#     for file in file_name.iterdir():
#         last_file_name = str(file).split("/")[-1]
#         if last_file_name == hips_motion:
#             with open(file, 'r') as source_file:
#                 with open(motion_txt_path, 'a') as motion_file:
#                     source_data = source_file.readlines()
#                     for line in source_data:
#                         motion_file.write(line)
                    
#         elif last_file_name == label:
#             with open(file, 'r') as source_file:
#                 with open(label_txt_path, 'a') as label_file:
#                     source_data = source_file.readlines()
#                     for line in source_data:
#                         label_file.write(line)
    #break

In [21]:



label_csv_path = "useful_dataset/label.csv"

# # Открываем текстовый файл для чтения
# with open(label_txt_path, 'r') as txt_file:
#     # Читаем строки из текстового файла
#     lines = txt_file.readlines()

# # Определяем заголовки столбцов
# headers_label = ['time', 'coarse', 'fine_label', 'road_label', 'traffic_label', 'tunnels_label', 'social_label', 'food_label']

# # Открываем CSV файл для записи
# with open(label_csv_path, 'w', newline='') as csv_file:
#     csv_writer = csv.writer(csv_file)

#     # Записываем заголовки
#     csv_writer.writerow(headers_label)

#     # Записываем данные из текстового файла
#     for line in lines:
#         # Разбиваем каждую строку по пробелам (или другим разделителям, если нужно)
#         row = line.strip().split()
#         csv_writer.writerow(row)

# print("Файл успешно преобразован в CSV.")

In [22]:
# import csv

motion_csv_path = "useful_dataset/motion.csv"
# headers_motion = ['time', 'acceleration_x', 'acceleration_y', 'acceleration_z', 'gyro_x', 'gyro_y', 'gyro_z',
#                   'magnetometer_x', 'magnetometer_y', 'magnetometer_z', 'orientation_w', 'orientation_x', 'orientation_y', 'orientation_z',
#                   'gravity_x', 'gravity_y', 'gravity_z', 'linear_acceleration_x', 'linear_acceleration_y', 'linear_acceleration_z',
#                   'pressure', 'altitude_derived_etc', 'temperature_derived_etc'
#                   ]
# co = 0
# with open(motion_txt_path, 'r') as txt_file:
#     with open(motion_csv_path, 'w') as csv_file:
#         csv_writer = csv.writer(csv_file)
#         csv_writer.writerow(headers_motion)

#         txt_line = txt_file.readline()
#         while txt_line != '':
#             co += 1
#             if co % 10000 == 0:
#                 print('already processed', co, 'lines')
#             row = txt_line.strip().split()
#             csv_writer.writerow(row)
#             txt_line = txt_file.readline()

In [23]:
# motion_data = pd.read_csv(motion_csv_path)
# motion_data.head()

In [24]:
label_data = pd.read_csv(label_csv_path, chunksize=10**7)
for label_chunk in label_data:
    print(label_chunk)
    break

                  time  coarse  fine_label  road_label  traffic_label  \
0        1490688591000       0           0           0              0
1        1490688591010       0           0           0              0
2        1490688591020       0           0           0              0
3        1490688591030       0           0           0              0
4        1490688591040       0           0           0              0
...                ...     ...         ...         ...            ...
9999995  1498231866920       5           9           2              0
9999996  1498231866930       5           9           2              0
9999997  1498231866940       5           9           2              0
9999998  1498231866950       5           9           2              0
9999999  1498231866960       5           9           2              0

         tunnels_label  social_label  food_label
0                    0             0           0
1                    0             0           0
2                    0             0           0
3                    0             0           0
4                    0             0           0
...                ...           ...         ...
9999995              0             0           0
9999996              0             0           0
9999997              0             0           0
9999998              0             0           0
9999999              0             0           0

[10000000 rows x 8 columns]

In [25]:
label_chunk

,time,coarse,fine_label,road_label,traffic_label,tunnels_label,social_label,food_label
0,1490688591000,0,0,0,0,0,0,0
1,1490688591010,0,0,0,0,0,0,0
2,1490688591020,0,0,0,0,0,0,0
3,1490688591030,0,0,0,0,0,0,0
4,1490688591040,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...
9999995,1498231866920,5,9,2,0,0,0,0
9999996,1498231866930,5,9,2,0,0,0,0
9999997,1498231866940,5,9,2,0,0,0,0
9999998,1498231866950,5,9,2,0,0,0,0
9999999,1498231866960,5,9,2,0,0,0,0

In [26]:
#chunk.to_csv('useful_dataset/chunk_label.csv', index=False)

In [27]:
motion_data = pd.read_csv(motion_csv_path, chunksize=10**7)
for motion_chunk in motion_data:
    print(motion_chunk)
    break

                 time  acceleration_x  acceleration_y  acceleration_z  \
0        1.490689e+12             NaN             NaN             NaN
1        1.490689e+12             NaN             NaN             NaN
2        1.490689e+12             NaN             NaN             NaN
3        1.490689e+12             NaN             NaN             NaN
4        1.490689e+12             NaN             NaN             NaN
...               ...             ...             ...             ...
9999995  1.498232e+12        1.147131        8.869509        1.444150
9999996  1.498232e+12        1.517939        8.925247        1.655074
9999997  1.498232e+12        1.764617        9.488930        1.525930
9999998  1.498232e+12        1.789209       10.194847        1.532634
9999999  1.498232e+12        1.552775       10.671438        1.914676

           gyro_x    gyro_y    gyro_z  magnetometer_x  magnetometer_y  \
0             NaN       NaN       NaN             NaN             NaN
1             NaN       NaN       NaN             NaN             NaN
2             NaN       NaN       NaN             NaN             NaN
3             NaN       NaN       NaN             NaN             NaN
4             NaN       NaN       NaN             NaN             NaN
...           ...       ...       ...             ...             ...
9999995 -0.038570  0.000438 -0.007087       -1.867667      -49.512222
9999996  0.011077 -0.036337  0.037257       -1.485716      -50.134090
9999997 -0.022499 -0.021991  0.024421       -0.805995      -50.569005
9999998 -0.034208  0.008519  0.008823       -0.502822      -50.875000
9999999 -0.061506  0.061311 -0.025129       -0.622330      -50.865654

         magnetometer_z  ...  orientation_z  gravity_x  gravity_y  gravity_z  \
0                   NaN  ...            NaN        NaN        NaN        NaN
1                   NaN  ...            NaN        NaN        NaN        NaN
2                   NaN  ...            NaN        NaN        NaN        NaN
3                   NaN  ...            NaN        NaN        NaN        NaN
4                   NaN  ...            NaN        NaN        NaN        NaN
...                 ...  ...            ...        ...        ...        ...
9999995      -37.053944  ...       0.052777   1.021826   9.624466   1.579489
9999996      -36.627597  ...       0.052713   1.018055   9.622354   1.594639
9999997      -36.752602  ...       0.050547   0.992273   9.622702   1.608648
9999998      -36.865122  ...       0.050794   0.967426   9.623392   1.619633
9999999      -36.428154  ...       0.050175   0.957331   9.622492   1.631048

         linear_acceleration_x  linear_acceleration_y  linear_acceleration_z  \
0                          NaN                    NaN                    NaN
1                          NaN                    NaN                    NaN
2                          NaN                    NaN                    NaN
3                          NaN                    NaN                    NaN
4                          NaN                    NaN                    NaN
...                        ...                    ...                    ...
9999995               0.610585               1.192727               0.239243
9999996               0.012740               1.366755               0.381375
9999997              -0.656187               0.848064               0.129435
9999998              -0.723900               0.410193              -0.039869
9999999              -0.447784               0.109650               0.211775

            pressure  altitude_derived_etc  temperature_derived_etc
0                NaN                   NaN                      NaN
1                NaN                   NaN                      NaN
2                NaN                   NaN                      NaN
3                NaN                   NaN                      NaN
4                NaN                   NaN                      NaN
...              ...                   ...                      ...
9999995  1010.163999                   0.0                      0.0
9999996  1010.165853                   0.0                      0.0
9999997  1010.166497                   0.0                      0.0
9999998  1010.167037                   0.0                      0.0
9999999  1010.167577                   0.0                      0.0

[10000000 rows x 23 columns]

In [30]:
motion_chunk = motion_chunk[['time', 'acceleration_x', 'acceleration_y', 'acceleration_z', 'gyro_x',
       'gyro_y', 'gyro_z', 'magnetometer_x', 'magnetometer_y',
       'magnetometer_z', 'pressure']]
#chunk = chunk.dropna()
motion_chunk

,time,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z,magnetometer_x,magnetometer_y,magnetometer_z,pressure
0,1.490689e+12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.490689e+12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.490689e+12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.490689e+12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.490689e+12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
9999995,1.498232e+12,1.147131,8.869509,1.444150,-0.038570,0.000438,-0.007087,-1.867667,-49.512222,-37.053944,1010.163999
9999996,1.498232e+12,1.517939,8.925247,1.655074,0.011077,-0.036337,0.037257,-1.485716,-50.134090,-36.627597,1010.165853
9999997,1.498232e+12,1.764617,9.488930,1.525930,-0.022499,-0.021991,0.024421,-0.805995,-50.569005,-36.752602,1010.166497
9999998,1.498232e+12,1.789209,10.194847,1.532634,-0.034208,0.008519,0.008823,-0.502822,-50.875000,-36.865122,1010.167037
9999999,1.498232e+12,1.552775,10.671438,1.914676,-0.061506,0.061311,-0.025129,-0.622330,-50.865654,-36.428154,1010.167577

In [40]:
motion_with_labess = motion_chunk.merge(label_chunk, on='time', how='left')
motion_with_labess = motion_with_labess[['time', 'acceleration_x', 'acceleration_y', 'acceleration_z', 'gyro_x',
       'gyro_y', 'gyro_z', 'magnetometer_x', 'magnetometer_y',
       'magnetometer_z', 'pressure', 'coarse']]

motion_with_labess = motion_with_labess.dropna()

motion_with_labess

,time,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z,magnetometer_x,magnetometer_y,magnetometer_z,pressure,coarse
89,1.490689e+12,-0.064093,0.000000,9.984922,-0.002443,0.000000,-0.002443,8.437500,13.449426,-44.177120,1012.894281,0
90,1.490689e+12,-0.046603,0.006812,9.992656,-0.002443,0.000000,-0.002443,8.437500,13.323788,-43.957254,1012.894692,0
91,1.490689e+12,-0.051853,0.029896,9.991413,-0.002443,0.000000,-0.002443,8.666904,13.369851,-43.937500,1012.902426,0
92,1.490689e+12,-0.043986,0.051782,9.988609,-0.002443,0.000000,-0.002443,8.918953,13.432863,-43.937500,1012.902534,0
93,1.490689e+12,-0.045143,0.036954,10.015951,-0.002443,0.000000,-0.002443,9.023718,13.494979,-44.023718,1012.899864,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9999995,1.498232e+12,1.147131,8.869509,1.444150,-0.038570,0.000438,-0.007087,-1.867667,-49.512222,-37.053944,1010.163999,5
9999996,1.498232e+12,1.517939,8.925247,1.655074,0.011077,-0.036337,0.037257,-1.485716,-50.134090,-36.627597,1010.165853,5
9999997,1.498232e+12,1.764617,9.488930,1.525930,-0.022499,-0.021991,0.024421,-0.805995,-50.569005,-36.752602,1010.166497,5
9999998,1.498232e+12,1.789209,10.194847,1.532634,-0.034208,0.008519,0.008823,-0.502822,-50.875000,-36.865122,1010.167037,5
9999999,1.498232e+12,1.552775,10.671438,1.914676,-0.061506,0.061311,-0.025129,-0.622330,-50.865654,-36.428154,1010.167577,5

In [44]:
motion_with_labess['time'] = motion_with_labess['time'].astype(np.int64)
motion_with_labess

,time,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z,magnetometer_x,magnetometer_y,magnetometer_z,pressure,coarse
89,1490688591890,-0.064093,0.000000,9.984922,-0.002443,0.000000,-0.002443,8.437500,13.449426,-44.177120,1012.894281,0
90,1490688591900,-0.046603,0.006812,9.992656,-0.002443,0.000000,-0.002443,8.437500,13.323788,-43.957254,1012.894692,0
91,1490688591910,-0.051853,0.029896,9.991413,-0.002443,0.000000,-0.002443,8.666904,13.369851,-43.937500,1012.902426,0
92,1490688591920,-0.043986,0.051782,9.988609,-0.002443,0.000000,-0.002443,8.918953,13.432863,-43.937500,1012.902534,0
93,1490688591930,-0.045143,0.036954,10.015951,-0.002443,0.000000,-0.002443,9.023718,13.494979,-44.023718,1012.899864,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9999995,1498231866920,1.147131,8.869509,1.444150,-0.038570,0.000438,-0.007087,-1.867667,-49.512222,-37.053944,1010.163999,5
9999996,1498231866930,1.517939,8.925247,1.655074,0.011077,-0.036337,0.037257,-1.485716,-50.134090,-36.627597,1010.165853,5
9999997,1498231866940,1.764617,9.488930,1.525930,-0.022499,-0.021991,0.024421,-0.805995,-50.569005,-36.752602,1010.166497,5
9999998,1498231866950,1.789209,10.194847,1.532634,-0.034208,0.008519,0.008823,-0.502822,-50.875000,-36.865122,1010.167037,5
9999999,1498231866960,1.552775,10.671438,1.914676,-0.061506,0.061311,-0.025129,-0.622330,-50.865654,-36.428154,1010.167577,5

In [45]:
motion_with_labess.to_csv('useful_dataset/motion_with_labess.csv', index=False)